<h1>Order received</h1>
<p>Customer name: <%=@order.name  %></p>
<p>Customer last_name: <%=@order.last_name  %></p>
<p>Customer email: <%=@order.email  %></p>
<p>Customer phone number: <%=@order.phone  %></p>
<p>Delivery adress: <%=@order.adress  %></p>
<p>Order details: </p>
<% @order.shopping_cart_items.each do |item| %>
  <p>Item name: <%= item.item.title %></p> 
  <p>Item quantity: <%= item.quantity  %></p>
  <p>Item price: <%= number_to_currency item.item.price %></p>
  <hr>
<% end %>

<p>Order total: <%= number_to_currency @order.total_price  %></p>

