<div class="authform">
  <%= form_for([@product, Comment.new], :html => { :role => 'form'}, remote: true) do |f| %>
      <% if Comment.new.errors.any? %>
        <div id="error">
          <% Comment.new.errors.full_messages.each do |msg| %>
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= msg %></strong>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label "Ваше имя" %><br>
        <%= f.text_field :user_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "Ваш отзыв" %><br>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Оставить отзыв', :class => 'btn btn-primary pull-right'%>
      </div>
  <% end %>
</div>
<div class="comments">
  <% @product.comments.each do |comment| %>
  <div class="p-comment">
   <div class="review-heading">
    <div class="author">
      <strong><%= comment.user_name %></strong>
      <%= time_tag comment.created_at, class: "comment-author-date" %>
    </div>
  </div>
    <p><%= comment.body %></p>  
  </div>
  <% end %>
</div>
