<% content_for :title do %><%= @article.meta_title %><% end %>
<% content_for :description do %><%= @article.meta_description %><% end %>
<% content_for :keywords do %><%= @article.meta_keywords %><% end %>

<div id="blog-post">
  <div class="box">
   <h1><%= @article.title %></h1> 
  <div id="post-content">
    <%= sanitize @article.content %>
   </div>
</div>
</div>
