 <h1>Корзина</h1>
  <div class="table-responsive">
  <table class = "table table-bordered table-striped">
    <thead>
      <tr>
        <th>Наименование товара</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Итого</th>
      </tr>
    </thead>
    <tbody>
    <% @shopping_cart.shopping_cart_items.each do |shopping_cart_item| %>
      <tr>
        <td><%= shopping_cart_item.item.title %></td>
        <td><%= shopping_cart_item.quantity  %></td>
        <td><%= shopping_cart_item.item.price %></td>
        <td>
        <%= shopping_cart_item.subtotal %>
          <%= link_to shopping_cart_items_path(:product_id => shopping_cart_item.item.id), method: :delete do %>
            <i class="fa fa-times remove pull-right"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Итого:</td>
      <td><%= number_to_currency @shopping_cart.total %></td>
    </tr>
  </tfoot>
  </table>
  </div>
 <%= link_to 'Очистить корзину', @shopping_cart, method: :delete, class: "btn btn-success"%> 
 <%= link_to 'Продолжить покупки', :back, class: "btn btn-success" %>
 <%= link_to 'Оформить заказ', new_order_path, class: "btn btn-primary pull-right" %>
