<div class="shopping-cart">
  <h1>Корзина</h1>

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Товар</label>
    <label class="product-price">Цена</label>
    <% if @shape_size_present %>
      <label class="product-quantity">Нагрузка</label>
    <% end %>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Итого</label>
  </div>

  <% @shopping_cart.shopping_cart_items.each do |shopping_cart_item| %>
    <div class="product2">
      <div class="product-image">
        <%= link_to category_product_path(shopping_cart_item.item) do %>
            <%= image_tag shopping_cart_item.item.image.preview, class:"img-responsive" %>
        <% end %>
      </div>
      <div class="product-details">
        <div class="product-title">
          <%= link_to shopping_cart_item.item.title, category_product_path(shopping_cart_item.item) %>
        </div>
      </div>
      <div class="product-price">
        <%= shopping_cart_item.item.price %>
      </div>

      <% if @shape_size_present %>
        <div class="product-weight">
          Нагрузка
        </div>
      <% end %>

      <% if @shape_size_present %>
        <div class="product-quantity">
          <% if shopping_cart_item.item.shape_sizes.any?(&:present?) %>
            <%= form_for shopping_cart_item, :url => shopping_cart_items_path(:item_id => shopping_cart_item.id), :html => { :class => 'form-inline'} do |f| %>
              <%= f.select(:shape_size, shopping_cart_item.item.shape_sizes.reject(&:blank?).map { |s| [{ '1.5' => 'до 80 кг', '2.0' => 'до 120 кг', '2.5' => 'до 150 кг' }.fetch(s), s] }, {}, {:onchange => 'this.form.submit()'}) %>
            <% end %>
          <% else %>
            -
          <% end %>
        </div>
      <% end %>
      <div class="product-removal">
        <%= link_to shopping_cart_items_path(:product_id => shopping_cart_item.item.id), method: :delete do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
      <div class="product-line-price">
        <%= number_to_currency shopping_cart_item.subtotal %>
      </div>
    </div>
  <% end %>

  <div class="totals">
    <div class="totals-item">
      <label>Итого</label>
      <div class="totals-value" id="cart-subtotal">
        <%= number_to_currency @shopping_cart.total %>
      </div>
    </div>
  </div>

  <%= button_to new_order_path, class: "checkout", method: :get do %>
    Оформить заказ
  <% end %>
</div>
