<% content_for :user_menu do %>
    <%= render 'users/user_menu' %>
<% end %>

<div id="customer-order">
<div class="box">
    <h1>Заказ #<%= @order.id %></h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Товар</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Итого</th>
                </tr>
            </thead>
            <tbody>
                <% @order.shopping_cart_items.each do |shopping_cart_item| %>
                    <tr>
                        <td>
                            <%= link_to product_path(shopping_cart_item.item) do %>
                                <%= image_tag shopping_cart_item.item.image.preview, class:"img-responsive" %>
                                    <% end %>
                        </td>
                        <td>
                            <%= link_to shopping_cart_item.item.title, product_path(shopping_cart_item.item) %>
                        </td>
                        <td>
                            <%= shopping_cart_item.quantity %>
                        </td>
                        <td>
                            <%= shopping_cart_item.item.price %>
                        </td>
                        <td>
                            <%= shopping_cart_item.subtotal %>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">Всего:</th>
                    <th>
                        <%= number_to_currency @order.total_price %>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row addresses">
        <div class="col-md-6 col-md-offset-6">
            <h2>Адрес доставки</h2>
            <p><%= @order.adress %></p>
        </div>
    </div>
</div>
</div>
