<% content_for :title do %><%= @page.meta_title %><% end %>
<% content_for :description do %><%= @page.meta_description %><% end %>
<% content_for :keywords do %><%= @page.meta_keywords %><% end %>

<% content_for :breadcrumbs do %>
  <div id="heading-breadcrumbs" class="col-md-12">
    <div class="container">
        <div class="row">
          <ul class="breadcrumb">
            <li><%= link_to "Главная", root_path %></li>
             <li><%= @page.title %></li>
          </ul>          
        </div>
    </div>
  </div>
<% end %>

<div class="box">
  <div class="heading">
    <h1><%= @page.title %></h1>
  </div>
  
  <%= sanitize @page.content %>
</div>