<% content_for :title do %><%= @page.try(:meta_title) %><% end %>
<% content_for :description do %><%= @page.try(:meta_description) %><% end %>
<% content_for :keywords do %><%= @page.try(:meta_keywords) %><% end %>

<div class="box">
  <h1><%= @page.try(:title) %></h1>
  <%= sanitize @page.try(:content) %>
</div>
