<% content_for :title do %>Contact<% end %>
<div class="box" id="contact">
    <h1>Написать нам</h1>
      <%= form_for(@contact, :html => { :role => 'form'}) do |f| %>
        <% if @contact.errors.any? %>
          <div id="error">
            <% @contact.errors.full_messages.each do |msg| %>
                <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= msg %></strong>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label "Имя:" %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Email:" %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Ваш вопрос:" %><br>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-envelope-o"></i> Отправить сообщение
        </button>
      <% end %>
</div>