<% products.each do |product| %>
<div class="col-md-4">
  <div class="thumbnail">
    <%= image_tag product.image.thumb, class:"img-responsive" %>
    <div class="caption">
      <h4><%= product.title %></h4>
      <div class="price well">
        <%= number_to_currency product.price %>
      </div>
      <p>
        <%= link_to "Подробно", category_product_path(product.categories.first, product), class:"btn btn-primary btn-xs " %>
        <%= link_to "Купить", shopping_cart_path(:product_id => product),
         :method => 'POST', class:"btn btn-success btn-xs " %>
      </p>
    </div>
  </div>
</div>
<% end %>