<% content_for :breadcrumbs do %>
  <div id="heading-breadcrumbs" class="col-md-12">
    <div class="container">
        <div class="row">
          <ul class="breadcrumb">
            <li><%= link_to "Главная", root_path %></li>
             <li>Каталог</li>
          </ul>
        </div>
    </div>
  </div>
<% end %>

<div class="col-md-3">
  <%= yield(:user_menu) %>
  <%= render 'layouts/sidebar' %>
</div>

<div class="col-md-9">
  <div class="box">
    <% if params[:q] %>
      <h1>Результаты поиска</h1>
      <% if @products.empty? %>
        <h3>поиск не дал результатов</h3>
      <% end %>
    <% else %>
      <h1>Каталог товаров</h1>
    <% end %>
  </div>

  <div class="row products">
      <%= render "products/product", products: @products %>
  </div>
  <div class="row">
    <%= paginate @products %>
  </div>
</div>
