<div class="row" id="productMain" itemscope itemtype="http://schema.org/Product">
    <div class="col-sm-6">
      <div id="mainImage">
          <%=link_to @product.image.url, rel: "prettyPhoto[gallery1]" do %>
              <%= image_tag @product.image.preview, class: "img-responsive" %>
          <% end %>
      </div>
    </div>          
    
    <div class="col-sm-6">
        <div class="box">
          <h1 class="text-center"><%= @product.title %></h1>
          <p class="price"><%= number_to_currency @product.price %></p>
              <%= form_for ShoppingCartItem.new, :url => shopping_cart_items_path(:product_id => @product), :html => { :class => 'form-inline cart_item_form'} do |f| %>
                <div class="form-group">
                  <%= f.label :quantity, "Количество: "%>
                  <%= f.number_field :quantity, value: 1, class: 'form-control' %>
                </div>
                <%= f.submit "Купить", class:"btn btn-primary" %>
              <% end %>
        </div>
        <div class="ribbon new presents">
            <% if @product.available %>
              <div class="theribbon">Есть в наличии</div>
            <% else %>
              <div class="theribbon">Под заказ</div>
            <% end %>
            <div class="ribbon-background"></div>
        </div>
        <div class="row" id="thumbs">
          <% @product.gallery.each do |image| %>
            <div class="col-xs-4">
              <%=link_to image.url, rel: "prettyPhoto[gallery1]", class: "thumb"  do %>
                <%= image_tag image.thumb, class: "img-responsive" %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
</div>

<div class="box product_tab" id="details">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
      <li role="presentation"><a href="#characteristics" aria-controls="characteristics" role="tab" data-toggle="tab">Характеристики</a></li>
      <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Отзывы</a></li>
      <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Похожие товары</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="description">
        <%= sanitize @product.description %>
      </div>
      <div role="tabpanel" class="tab-pane" id="characteristics">
        <%= sanitize @product.characteristics %>
      </div>
      <div role="tabpanel" class="tab-pane" id="review">
        <%= render 'comments/comment' %>
      </div>
      <div role="tabpanel" class="tab-pane" id="recent">
        <%= render "products/product", products: @similar %>
      </div>
    </div>
</div>
