<div class="row">
    <div class="col-md-6">
      <div class="well photo">
          <%= image_tag @product.image.preview, class:"img-responsive"  %>
      </div>           
    </div>
    
    <div class="col-md-6">
      <h1><%= @product.title %></h1>
      <p><%= number_to_currency @product.price %> </p> 
      <%= rating_for @product, "product" %>
      <p>
        <% @product.categories.each do |category|  %>
          <%= category.name %>
        <% end %>
      </p>
      <p><%= @product.description %></p>
    </div>
</div>

