<div class="row">
    <div class="col-md-6">
      <div class="well product_photos">
         <div class="view-product">
           <%=link_to image_tag(@product.image.preview), @product.image.url, rel: "prettyPhoto[gallery1]"  %>
        </div>
        <div class="gallery">
        <% @product.gallery.each do |image| %>
           <%=link_to image_tag(image.thumb), image.url, rel: "prettyPhoto[gallery1]"  %>
        <% end %>
        </div> 
      </div>          
    </div>
    
    <div class="col-md-6">
      <h1><%= @product.title %></h1>
      <%= rating_for @product, "product" %>
      <div class="present">
        В наличии на складе
      </div>
      <p class="price">Цена: <%= number_to_currency @product.price %></p>
      <%= link_to "Купить", shopping_cart_path(:product_id => @product),
         :method => 'POST', class:"btn btn-success" %>
      <h6>Метки:</h6>
      <div class="bootstrap-tagsinput">
        
        <% @product.tags.each do |tag| %>
          <span class="tag label label-info"><%= tag.name %></span> 
        <% end %>
      </div>
    </div>
</div>

<div class="row">
  <div class="product_tab">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
    <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Отзывы</a></li>
    <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Похожие товары</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="description">
      <%= sanitize @product.description %>
    </div>
    <div role="tabpanel" class="tab-pane" id="review">
      <%= render 'comments/comment' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="recent">
      <%= render "products/product", products: @similar %>
    </div>
  </div>

</div>
</div>

