<% content_for :title do %><%= @product.meta_title %><% end %>
<% content_for :description do %><%= @product.meta_description %><% end %>
<% content_for :keywords do %><%= @product.meta_keywords %><% end %>

<% content_for :breadcrumbs do %>
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><%= link_to "Главная", root_path %></li>
      <% @product.category.ancestors.each do |a| %>
        <li><%= link_to a.name, a %></li>
      <% end %>
       <li><%= link_to @product.category.name, @product.category %></li>
       <li><%= @product.title %></li>
    </ul>
  </div>
<% end %>
<div itemscope itemtype="http://schema.org/Product">
  <div class="row" id="productMain">
      <div class="col-sm-6">
        <div id="mainImage">
            <%=link_to @product.image.url, rel: "prettyPhoto[gallery1]" do %>
                <%= image_tag @product.image.preview, alt: @product.title, class: "img-responsive", itemprop: "image" %>
            <% end %>
        </div>
        <%= product_feature(@product.feature) %>
      </div>          
      
      <div class="col-sm-6">
          <div class="box">
            <h1 class="text-center" itemprop="name"><%= @product.title %></h1>
            <p class="goToDescription"><%= @product.sales_info %></p>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <p class="price"><%= number_to_currency @product.price %></p>
                  <meta itemprop="price" content="<%= @product.price %>">
                  <meta itemprop="priceCurrency" content="UAH">
            </div>
                <%= form_for ShoppingCartItem.new, :url => shopping_cart_items_path(:product_id => @product), :html => { :class => 'form-inline cart_item_form'} do |f| %>
                  <div class="form-group">
                    <%= f.label :quantity, "Количество: "%>
                    <%= f.number_field :quantity, value: 1, class: 'form-control' %>
                  </div>
                  <%= f.submit "Купить", class:"btn btn-primary" %>
                <% end %>
          </div>
          <div class="ribbon new presents">
              <% if @product.available %>
                <div class="theribbon">Есть в наличии</div>
              <% else %>
                <div class="theribbon">Под заказ</div>
              <% end %>
              <div class="ribbon-background"></div>
          </div>
          <div class="row" id="thumbs">
            <% @product.gallery.each_with_index do |image, index| %>
              <div class="col-xs-4">
                <%=link_to image.url, rel: "prettyPhoto[gallery1]", class: "thumb"  do %>
                  <%= image_tag image.thumb, alt: "#{@product.title} preview#{index}", class: "img-responsive" %>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
  </div>

  <div class="box product_tab" id="details">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
        <% if @product.characteristics && @product.characteristics != "" %>
          <li role="presentation"><a href="#characteristics" aria-controls="characteristics" role="tab" data-toggle="tab">Характеристики</a></li>
        <% end %>
        <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Отзывы</a></li>
        <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Похожие товары</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="description" itemprop="description">
          <%= sanitize @product.description %>
          <hr>
          <div class="social-likes" data-title="<%= @product.title %>" data-counters="no">
            <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
            <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
            <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
            <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
            <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="characteristics">
          <%= sanitize @product.characteristics, tags: %w(table h2 tbody tr td div p) %>
        </div>
        <div role="tabpanel" class="tab-pane" id="review">
          <%= render 'comments/comment' %>
        </div>
        <div role="tabpanel" class="tab-pane" id="recent">
          <%= render "products/product", products: @similar %>
        </div>
      </div>
  </div>
</div>