<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Информация</h4>
                <ul>
                    <li>
                        <%= link_to "О компании", about_path %>
                    </li>
                    <li>
                        <%= link_to "Оплата и доставка", pay_and_delivery_path %>
                    </li>
                    <li>
                        <%= link_to "Акции", sales_path %>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Служба поддержки</h4>
                <ul>
                    <li>
                        <%= link_to "Связаться с нам", new_contact_path %>
                    </li>
                    <li>
                        <%= link_to "Возврат товара", product_return_path %>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Номера телефонов</h4>
                <ul>
                    <li><a href="#"> +3 8(091) 800 22 16</a></li>
                    <li><a href="#"> +3 8(095) 549 97 83</a></li>
                    <li><a href="#"> +3 8(093) 374 62 23</a></li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Подписка на новости</h4>
                <p class="text-muted">Подпишитесь на новости и акционные предложения.</p>
                <%= form_for Visitor.new do|f| %>
                    <div class="input-group">
                        <%= f.text_field :email, label: false, class: "form-control" %>
                        <span class="input-group-btn">
                            <%= f.button "Подпишись!" , :class => "btn btn-default" %>
                        </span>
                    </div>
                <% end %>
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
