<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Информация</h4>
                <ul>
                    <li>
                        <%= link_to "О компании", page_path("o-nas") %>
                    </li>
                    <li>
                        <%= link_to "Оплата и доставка", page_path("oplata-i-dostavka") %>
                    </li>
                    <li>
                        <%= link_to "Новости", articles_path %>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Служба поддержки</h4>
                <ul>
                    <li>
                        <%= link_to "Связаться с нам", new_contact_path %>
                    </li>
                    <li>
                        <%= link_to "Возврат товара", page_path("oplata-i-dostavka") %>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Номера телефонов</h4>
                <ul>
                    <li><a href="#"> +3 8(096) 543 38 24</a></li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Мы в соцсетях</h4>
                <p class="social">
                            <a href="https://www.facebook.com/groups/ladas.ukr" rel="nofollow" class="facebook external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-facebook"></i></a>
                            <a href="https://vk.com/ladas_ukr" rel="nofollow" class="twitter external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-vk"></i></a>
                            <a href="https://ok.ru/group/55077000773651" rel="nofollow" class="instagram external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-odnoklassniki"></i></a>
                            <a href="https://plus.google.com/+ЛадасУкраина" rel="nofollow" class="gplus external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-google-plus"></i></a>
                </p>

            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
