<div class="footer-widget">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="single-widget">
                    <h3>Информация</h3>
                    <ul class="nav">
                        <li>
                            <%= link_to "О компании", about_path %>
                        </li>
                        <li>
                            <%= link_to "Оплата и доставка", pay_and_delivery_path %>
                        </li>
                        <li>
                            <%= link_to "Акции", sales_path %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                    <h3>Служба поддержки</h3>
                    <ul class="nav">
                        <li>
                            <%= link_to "Связаться с нам", new_contact_path %>
                        </li>
                        <li>
                            <%= link_to "Возврат товара", product_return_path %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                    <h3>Личная информация</h3>
                    <ul class="nav">
                        <li><a href="#">Личный Кабинет</a></li>
                        <li><a href="#">История заказов</a></li>
                        <li><a href="#">Рассылка</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                    <h3>Номера телефонов</h3>
                    <ul class="nav">
                        <li><a href="#"> +3 8(091) 800 22 16</a></li>
                        <li><a href="#"> +3 8(095) 549 97 83</a></li>
                        <li><a href="#"> +3 8(093) 374 62 23</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="single-widget">
                    <h3>Подписка на новости</h3>
<!--                     <form action="#" class="searchform">
                        <input type="text" placeholder="Введите ваш имеил" />
                        <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                        <p>Подпишитесь на новости и непропустите каждое наше акционное предложение.</p>
                    </form> -->
                    <%= form_for(Visitor.new, :html => { :class => 'searchform'}) do|f| %>
                        <%= f.text_field :email, label: false, :placeholder => 'Введите ваш имеил' %>
                        <%= f.button :submit, :class => "btn btn-default"  do %>
                            <i class="fa fa-arrow-circle-o-right"></i>
                        <% end %>
                        <p>Подпишитесь на новости и непропустите каждое наше акционное предложение.</p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <p class="pull-left">Copyright © 2015 glidefit.com.ua</p>
        </div>
    </div>
</div>
