<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="/" data-animate-hover="bounce">
                <%= image_tag "logo.png", class: "hidden-xs" %>
                <%= image_tag "logo-small.png", class: "visible-xs" %>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <%= link_to shopping_cart_path, class: "btn btn-default navbar-toggle" do %>
                  <i class="fa fa-shopping-cart"></i>
                  <% if @shopping_cart and !@shopping_cart.empty? %>
                    <span class="hidden-xs"><%=number_to_currency(@shopping_cart.total) %></span>
                  <% else %>
                    <span class="hidden-xs">Корзина пуста</span>
                  <% end %>
                <% end %>
            </div>
        </div>
        <!--/.navbar-header -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <%= link_to "О нас", about_path %>
                </li>
                <li>
                    <%= link_to "Каталог", products_path %>
                </li>
                <li>
                    <%= link_to "Оплата и доставка", pay_and_delivery_path %>
                </li>
                <li>
                    <%= link_to "Новости", articles_path %>
                </li>
                <li>
                    <%= link_to "Контакты", new_contact_path %>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
        <div class="navbar-buttons">
            <div class="navbar-collapse collapse right" id="basket-overview">
                <%= render 'layouts/cart' %>
            </div>
            <!--/.nav-collapse -->
            <div class="navbar-collapse collapse right" id="search-not-mobile">
                <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="collapse clearfix" id="search">
            <%= search_form_for Product.ransack(params[:q]), html: {class: "navbar-form", role: "search" } do |f| %>
                <div class="input-group">
                  <%= f.search_field :title_cont, placeholder: "Поиск", class: "form-control" %>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                  </span> 
                </div> 
            <% end %>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
