<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sport Store" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sport Store" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main role="main">
      <div class="row">
        <%= render 'layouts/messages' %>
        <div class="col-sm-9" >
            <%= yield %>
        </div>  
        <div class="col-sm-3" >
            <%= render 'layouts/sidebar' %>
        </div>
   
      </div>
    </main>
    <footer id="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
