<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ладас.укр | Шведские стенки Ладас" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ладас.укр - официальный сайт, шведские стенки Ладас, цены от производителя" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,500italic,500,400italic,300,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  </head>

  <body>
      <%= render 'layouts/top' %>
      <%= render 'layouts/navbar' %>
      <div id="all">
        <div id="content">            
            <%= yield(:breadcrumbs) %>
            <div class="container">
              <%= render 'layouts/messages' %>
              <%= yield %>              
            </div>
        </div>
        <%= render 'layouts/footer' %>
        <%= render 'layouts/copyright' %>
      </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
